modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "stripe:1.0.0"]

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "sk_test_51TA7LX9I5y7htML1k8auUVQHGGFAWy7Xxw8fEwJT4Umc9eujtW1PtCocK1Xa75EiHyDNrfGjzi8voXKRRmzpjgGu00qlgIENRl"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TA7LX9I5y7htML1UU9KIvNY9cfbzTnPJ8cz9WEPqLuCPsfj3yeKVB8jkNNQk5QxOgziUtAUYzdfVuITaRvMnRdh00FUVeCFPd"
JWT_SECRET = "17d2db1d68b1f91bb4c3ad9f51afe6dcb679853254befda3480159ce280a8f646914a4a185d4520dc82e036c8042d8b3690142f68800475746d76e6c28752800"
JWT_REFRESH_SECRET = "29122cc7a254b9f8f245dae754f84e6589c0e6efb2e05fc9114fefa58c2ef367c0b5c86adc9b4c975a25b4a3101ab419cac85977e3cfc06daa23fc5b8f68a544"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
