modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "stripe:1.0.0"]

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "sk_test_51TA7LX9I5y7htML1k8auUVQHGGFAWy7Xxw8fEwJT4Umc9eujtW1PtCocK1Xa75EiHyDNrfGjzi8voXKRRmzpjgGu00qlgIENRl"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TA7LX9I5y7htML1UU9KIvNY9cfbzTnPJ8cz9WEPqLuCPsfj3yeKVB8jkNNQk5QxOgziUtAUYzdfVuITaRvMnRdh00FUVeCFPd"
